@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/angular-toastr.css")">
        <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular-animate.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular-route.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/ui-bootstrap-tpls-3.0.3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular-toastr.tpls.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular/Module.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular/controllers/SuppliesCtrl.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular/controllers/ProductCtrl.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular/controllers/SalesCtrl.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular/services/SalesService.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular/services/SuppliesService.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular/services/ProductsService.js")" type="text/javascript"></script>
    </head>
    <body ng-app="app">
        @content
    </body>
</html>
