@import helper._
@main("Productos") {
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="http://localhost:9000/suppliesview">Insumos <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="http://localhost:9000/productsview">Productos</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Ventas</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<div class="container-fluid" ng-controller="ProductCtrl as vm">
		<div class="py-5 mx-auto w-75" ng-init="vm.loadProducts()">
		<h4>Productos</h4>
			<div class="mb-4">
				<button class="btn btn-primary float-right" ng-click="vm.open()"><i class="fas fa-plus-square"></i></button>
			</div>
	    	<table class="table table-hover table-inverse">
	    		<thead>
	    			<tr>
	    				<th>#</th>
	    				<th>Nombre</th>
	    				<th>Insumos</th>
	    				<th>Descripción</th>
	    				<th>Precio</th>
	    				<th>Opciones</th>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			<tr ng-repeat="item in vm.products">
	    				<td>{{item.id}}</td>
	    				<td>{{item.name}}</td>
	    				<td>
	    					<span ng-repeat="supply in item.productSupplies">{{supply.name}} <br></span>
	    				</td>
	    				<td>{{item.description}}</td>
	    				<td>{{item.price}}</td>
	    				<td>
	    					<button class="btn btn-sm btn-warning" ng-click="vm.open(item)"><i class="text-white fas fa-edit"></i></button>
	    					<button class="btn btn-sm btn-danger" ng-click="vm.openDelete(item, $index)"><i class="fas fa-trash-alt"></i></button>
	    				</td>
	    			</tr>
	    		</tbody>
	    	</table>	
		</div>
	</div>

	<script type="text/ng-template" id="modal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Crear Producto</h3>
        </div>
        <div class="modal-body" id="modal-body">
        	<form name="form">
			  <div class="form-group">
			    <label for="inputName">Nombre del Producto</label>
			    <input type="text" name="name" ng-model="vm.product.name" class="form-control" id="inputName" aria-describedby="inputName" placeholder="Nombre" required>
			  </div>
			  <div class="form-group">
			    <label for="inputSupplies">Insumos</label>
			    <select id="inputSupplies" name="supplies" ng-options="item as item.name for item in vm.supplies" ng-model="vm.product.productSupplies" ng-multiple="true" multiple class="form-control" required></select>
			    <br>
			    <span>Actuales: <span class="text-capitalize" ng-repeat="item in vm.product.productSupplies">{{item.name}} </span>
			    </span>
			  </div>
			  <div class="form-group">
			    <label for="description">Example textarea</label>
			    <textarea class="form-control" name="description" ng-model="vm.product.description" id="description" rows="3" maxlength="500" required></textarea>
			  </div>
			  <div class="form-group">
			    <label for="inputQuantity">Precio</label>
			    <input type="number" name="price" ng-model="vm.product.price" class="form-control" id="inputQuantity" placeholder="Precio" min="1" required>
			  </div>
			</form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="vm.ok()" ng-disabled="form.$invalid">Guardar</button>
            <button class="btn btn-danger" type="button" ng-click="vm.cancel()">Cancelar</button>
        </div>
	</script>

	<script type="text/ng-template" id="confirmodal.html">
        <div class="modal-header">
            <h3 class="modal-title text-capitalize" id="modal-title">{{vm.item.name}}</h3>
        </div>
        <div class="modal-body" id="modal-body">
        	<h4>¿Realmente quiere borrar este Producto?</h4>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="vm.delete()">Eliminar</button>
            <button class="btn btn-default" type="button" ng-click="vm.cancel()">Regresar</button>
        </div>
	</script>
}