@import helper._
@main("Insumos") {
	<div class="container-fluid" ng-controller="SuppliesCtrl as vm">
		<div class="py-5 mx-auto w-75">
		<h4>Insumos</h4>
			<div class="mb-4">
				<button class="btn btn-primary float-right" ng-click="vm.open()">Agregar</button>
			</div>
	    	<table class="table table-hover table-inverse">
	    		<thead>
	    			<tr>
	    				<th>#</th>
	    				<th>Nombre</th>
	    				<th>Cantidad</th>
	    				<th>Opciones</th>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			<tr ng-repeat="item in vm.supplies">
	    				<td>{{item.id}}</td>
	    				<td>{{item.name}}</td>
	    				<td>{{item.cantidad}}</td>
	    				<td>
	    					<button class="btn btn-sm btn-warning">Editar</button>
	    					<button class="btn btn-sm btn-danger">Borrar</button>
	    				</td>
	    			</tr>
	    		</tbody>
	    	</table>	
		</div>
	</div>

	<script type="text/ng-template" id="modal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Crear Insumo</h3>
        </div>
        <div class="modal-body" id="modal-body">
        	<form>
			  <div class="form-group">
			    <label for="inputName">Nombre del Insumo</label>
			    <input type="text" ng-model="vm.insumo.name" class="form-control" id="inputName" aria-describedby="inputName" placeholder="Nombre">
			  </div>
			  <div class="form-group">
			    <label for="inputQuantity">Cantidad existente</label>
			    <input type="number" ng-model="vm.insumo.quantity" class="form-control" id="inputQuantity" placeholder="Cantidad">
			  </div>
			</form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="vm.ok()">Guardar</button>
            <button class="btn btn-danger" type="button" ng-click="vm.cancel()">Cancelar</button>
        </div>
	</script>
}